__pycache__/
*.pyc
.venv/
backend/media/gallery
backend/media/news
backend/media/players
.env
node_modules/
build/
dist/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vite/
.idea/
.vscode/
alembic.ini
!alembic/versions/__init__.py
alembic/versions/__pycache__/
